{% extends 'base.html.j2' %}

{% block content %}

<header class="layout__header">
    {% include 'components/flash-messages.html.j2' %}

    <div class="hero-section">
        <div class="wrapper">
            <div class="hero hero--orange">
                <!-- .hero--orange, .hero--yellow, .hero--red -->
                <div class="hero__column hero__logo">
                    <a href="/"><img
                            src="https://cdn.threesixtygiving.org/images/360-logos/insights/360insights-color.svg"
                            alt="360 "></a>
                </div>
                <div class="hero__column hero__lead">
                    <h2 class="hero__title">About 360Insights</h2>
                    <p class="hero__blurb"></p>
                </div>
            </div>
        </div>
    </div>

</header>
<main class="layout__content" id="app">
    <div class="layout__content-inner">
        <div class="prose">

            <section class="prose__section">
                <h2>About 360Insights</h2>
                <p>
                    360Insights is a free tool to help you understand funders better.
                    You can combine and visualise 360Giving and charity data, and
                    explore funding across seven different areas – from grant dates
                    to types of recipients.
                </p>
                <p>
                    360Giving commissioned <a href="https://dkane.net/" rel="noopener" target="_blank">David Kane</a> to
                    build 360Insights
                    and <a href="https://www.ccmdesign.ca/" rel="noopener" target="_blank">ccm.design</a> to design it.
                    The site is now operated by <a href="https://opendataservices.coop/" rel="noopener"
                        target="_blank">Open Data
                        Services Co-operative Limited</a>.
                </p>
                <p>
                    360Insights is completely free to use, and is built on Open Source technology and openly-licenced
                    data.
                </p>
                <p>
                    You can <a href="https://github.com/ThreeSixtyGiving/360insights" rel="noopener"
                        target="_blank">view the site
                        code on Github</a>.
                    The tool makes use of Open Source tools, such as <a href="http://flask.pocoo.org/" rel="noopener"
                        target="_blank">Flask</a>.
                </p>
                <ul>
                    <li><a href="#data-sources">Data sources</a></li>
                    <li><a href="#disclaimer">Disclaimer</a></li>
                </ul>
            </section>

            <section class="prose__section" id="data-sources">
                <h2>Data sources</h2>
                <h3>
                    Grantmakers
                </h3>
                <p>
                    360Insights uses the <a href="https://www.threesixtygiving.org/data/360giving-datastore/">360Giving
                        Datastore</a> to retrieve grants data
                    published by grantmakers to the 360Giving Data Standard.
                </p>
                <p>
                    Each of the files has been published by a grantmaker, usually on their own website,
                    under a licence that allows the data to be reused and shared.
                    They have used a common format – the
                    <a href="http://www.threesixtygiving.org/support/standard/" rel="noopener" target="_blank">360Giving
                        Data Standard</a>
                    – to make files in a consistent way.
                </p>
                <p>
                    Data shown on 360Insights has been fetched from the publisher's website by the 360Giving Datastore.
                    The Datastore checks
                    that it fits the Data Standard and adds some additional data about the geography and organisations
                    included, if possible.
                </p>
                <h3>
                    When will I see my data?
                </h3>
                <p>
                    If you've published data in the 360Giving Data Standard, your data should be available on
                    360Insights
                    the day after it is shown on the <a href="http://data.threesixtygiving.org/">360Giving Registry</a>.
                </p>
                <h3>
                    Other data
                </h3>
                <p>
                    360Insights uses the 360Giving Datastore, which adds external data from the following sources.
                </p>
                <p>
                    <a href="https://findthatcharity.uk/" rel="noopener" target="_blank">Find that Charity</a> is used
                    to bring in data about charities
                    and other data sources.
                    <a href="https://findthatcharity.uk/about#data-sources" rel="noopener" target="_blank">More
                        information on the data sources used by
                        Find that Charity</a>
                </p>
                <p>
                    Data on postcodes comes from
                    ONS, and is used under <a
                        href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="noopener"
                        target="_blank">Open Government
                        Licence</a>.
                </p>
                <ul>
                    <li>
                        Contains OS data © Crown copyright and database right 2019
                    </li>
                    <li>
                        Contains Royal Mail data © Royal Mail copyright and database right 2019
                    </li>
                    <li>
                        Contains National Statistics data © Crown copyright and database right 2019
                    </li>
                </ul>
            </section>
            <h3>Understanding server behaviour</h3>
            <p>
                We collect data about your visits to the website in server logs. This is for
                the purpose of debugging network issues, monitoring server usage, and identifying
                malicious usage.
            </p>
            <p>
                Personal data we collect:
            </p>
            <ul>
                <li>Your IP address</li>
                <li>User agent (information about the OS and browser that you use)</li>
                <li>Referrer (what page you arrived at one of our web pages from)</li>
            </ul>
            <p>
                We do not use this data to personally identify individuals, but it is
                possible that it could be used to do so, particularly if combined with other datasets.
            </p>
            <p>
                Data processors: <a href="https://www.mythic-beasts.com/" rel="noopener" target="_blank">Mythic
                    Beasts</a>.
            </p>
            <p>
                No data is transferred to third countries or international organisations.
            </p>
            <p>
                This server data is kept indefinitely.
            </p>
            <section class="prose__section" id="disclaimer">
                <h2>Website disclaimer</h2>
                <p>
                    The information contained in this website is for general information purposes only.
                    The information is provided by us and while we endeavour to keep the information up
                    to date and correct, we make no representations or warranties of any kind, express
                    or implied, about the completeness, accuracy, reliability, suitability or availability
                    with respect to the website or the information, products, services, or related graphics
                    contained on the website for any purpose. Any reliance you place on such information is
                    therefore strictly at your own risk. In no event will we be liable for any loss or damage
                    including without limitation, indirect or consequential loss or damage, or any loss or
                    damage whatsoever arising from loss of data or profits arising out of, or in connection
                    with, the use of this website. Through this website you are able to link to other websites
                    which are not under the control of us. We have no control over the nature, content and
                    availability of those sites. The inclusion of any links does not necessarily imply a
                    recommendation or endorse the views expressed within them. Every effort is made to keep
                    the website up and running smoothly. However, we take no responsibility for, and will
                    not be liable for, the website being temporarily unavailable due to technical issues
                    beyond our control.
                </p>
            </section>
        </div>
    </div>
</main>
{% endblock content %}
