<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta property="og:title" content="360Giving {{config.INSIGHTS_CONFIG.title}}">
  <meta property="og:description" content="360Insights is a free tool to help you understand funders better. You can combine and visualise 360Giving and charity data, and explore funding across different areas - from grant dates to types of recipients.">
  <meta name="description" content="360Insights is a free tool to help you understand funders better. You can combine and visualise 360Giving and charity data, and explore funding across different areas - from grant dates to types of recipients.">

  <title>360Giving {{config.INSIGHTS_CONFIG.title}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?280122" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}" />

  {% if debug %}
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://d3js.org/d3.v6.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js"></script>
  <script src="https://unpkg.com/vue-chartjs@3.5.1/dist/vue-chartjs.js"></script>
  {% else %}
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" integrity="sha256-kXTEJcRFN330VirZFl6gj9+UM6gIKW195fYZeR3xDhc=" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v6.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs@3.5.1/dist/vue-chartjs.min.js"></script>
  {% endif %}
  <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>

  {% block headscripts %}
  {% endblock headscripts %}
</head>
<body>
  <div class="layout layout--single-column">
    {% block header %}
    {% include 'components/nav.html.j2' %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% if not debug %}
    {% include 'components/cookie-consent.html.j2' %}
    {% endif %}

    {% block footer %}
    {% include 'components/footer.html.j2' %}
    {% endblock footer %}
  </div>
  {% block bodyscripts %}
  {% endblock bodyscripts %}

</body>
</html>
